node_modules/
__pycache__/
env/
.vscode/
*.pyc
*.pyo
*.pyd
*.log

*.jpg
*.png
*.jpeg
*.mp3
*.wav
*.zip
*.mp4
*.mov
output.jpg
image.png
prova.py

.env
google-credentials.json
firebase-admin-sdk.json

.dockerignore
.gitignore
